aniso8601==9.0.1
arrow==1.2.0
attrs==21.2.0
backports.zoneinfo==0.2.1
Brotli==1.0.9
click==8.0.1
Cython==0.29.24
dateparser==1.1.0
docutils==0.17.1
extended-json-schema-validator==0.9.11
fairtracks-validator==0.9.10
filetype==1.0.8
Flask==2.0.2
flask-accept==0.0.6
Flask-Compress==1.10.1
Flask-Cors==3.0.10
flask-restx==0.5.1
flup==1.0.3
fqdn==1.5.1
idna==3.2
isoduration==20.11.0
itsdangerous==2.0.1
Jinja2==3.0.2
jsonpointer==2.1
jsonschema==4.0.1
lockfile==0.12.2
MarkupSafe==2.0.1
Owlready2==0.34
pyrsistent==0.18.0
python-daemon==2.3.0
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.27
PyYAML==5.4.1
regex==2021.9.30
rfc3339-validator==0.1.4
rfc3987==1.3.8
RWFileLock==0.1.1
six==1.16.0
tzlocal==3.0
uri-template==1.1.0
uritools==3.0.2
webcolors==1.11.1
Werkzeug==2.0.2
