git+https://github.com/fairtracks/fairtracks_validator@eb4d20fd5b6091e16ee121428dab10e8e20208b6#egg=fairtracks-validator&subdirectory=python
pyyaml
flask
flask-cors
flask-restplus
flask-compress
flask-accept
flup
filetype