git+https://github.com/fairtracks/fairtracks_validator@4e5e0f41952b9f79df5fde4285148f145050b9a0#egg=fairtracks-validator&subdirectory=python
pyyaml
flask
flask-cors
flask-restplus
flask-compress
flup
